@media(min-width:860px) {
 .contactForm h1 {
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
    margin-top: 60px;
    margin-bottom: 40px;
    padding: none;
    text-align: center;
    color: rgb(79, 87, 104);

}

.contactForm {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    margin: 20px;

}

.FormInput {
    margin-bottom: 20px;
    margin-left: 250px;


}

label {
    display: block;
    margin-bottom: 5px;
}

input {

    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit {
    background-color: rgb(79, 87, 104);
    color: white;
    padding: 12px;
    font-size: 12pt;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: left;

    margin-left: 250px;

}
} 