@media(min-width:860px) {
    html {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }

    nav {
        padding: .5em;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        background-color: white;

    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    nav a {
        color: rgb(79, 94, 125);
        text-decoration: none;
        padding: .2em .5em;
        margin: 0 20pt;
        text-align: left;
    }

    a {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        margin-left: 15px;
        font-size: 12pt;
        line-height: 1.5em;
    }

    .heading {
        display: block;
        margin: auto;
        text-align: center;
    }

    .heading img {
        height: 100px;
        padding: 20px;

    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

    }

    #instagram-button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    #instagram-logo {
        width: 30px;
        height: auto;
        transition: transform 0.3s;
    }

    #instagram-button:hover #instagram-logo {
        transform: scale(1.1);
    }

    footer {
        font-size: x-small;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        color: rgb(79, 87, 104); 
        padding: 10px;
        background-color: white;
    }

    h1{
        font-family: "Rozha One", serif;
        font-weight: 400;
        font-style: normal;
    }

    h2{
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
    }

    p{
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
    }
    

}


@media(max-width:600px) {
    html {
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }

    nav {
        padding: .2em;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        background-color: white;

    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    nav a {
        color: rgb(79, 94, 125);
        text-decoration: none;
        text-align: left;
    }

    a {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        margin-left: 15px;
        font-size: 8pt;
        line-height: 1.5em;
    }

    .heading {
        display: block;
        margin: auto;
        text-align: center;
    }

    .heading img {
        height: 30px;
        padding: 20px;

    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 10px;
    }

    #instagram-button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        margin: 0;
    }

    #instagram-logo {
        width: 25px;
        height:auto;
        transition: transform 0.3s;
    }

    #instagram-button:hover #instagram-logo {
        transform: scale(1.1);
    }

    footer {
        font-size: x-small;
        text-align: center;
    }

    h1{
        font-family: "Rozha One", serif;
        font-weight: 400;
        font-style: normal;
    }

    h2{
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
    }

    p{
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
    }
}