@media(min-width:860px) {
    h1{
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        margin-left: 15px;
        font-size: 16pt;
        line-height: 1.5em;
        background-color:rgb(79, 94, 125);
        color: white;
        padding: 15px 15px 15px 50px;
    }

    .portfolio {
        position: relative;
        max-width: 640px;
        margin: auto;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    /* Main image container */
    .Portfolio-Images {
        display: block;
        width: auto;
        height: 480px;
        overflow: hidden;
        position: relative;
    }

    .displayed-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Adjusted position of prev/next buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 10px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border-radius: 0 3px 3px 0;
        background-color: rgb(79, 94, 125);
        border: none;
        transition: 0.6s ease;
    }

    /* Moved prev button to the left of the portfolio container */
    .prev {
        left: -60px; /* Move it outside the image container */
        border-radius: 3px 0 0 3px;
    }

    /* Moved next button to the right of the portfolio container */
    .next {
        right: -60px; /* Move it outside the image container */
        border-radius: 0 3px 3px 0;
    }

    /* Thumbnail container */
    .thumbnails {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        flex-wrap: wrap; 
    
    }

    /* Thumbnail images */
    .thumbnails .thumb {
        width: auto;
        height: 40px;
        margin: 0 5px;
        cursor: pointer;
        object-fit: cover;
        opacity: 0.6;
        transition: opacity 0.3s;
    }

    .thumbnails .thumb:hover {
        opacity: 1;
    }

    /* Active thumbnail styling */
    .thumbnails .active {
        border: 2px solid #555;
        opacity: 1;
    }
}
